<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="none">
<!--  <listeners>
	<listener class-name = "com.selenium.util.ScreenFailtureListener"></listener>
</listeners>-->

<test name="NewTest1" >
  <classes>
	<!--<class name="com.selenium.testCase.LoginTest"></class>
	  <class name="com.selenium.testCase.DormitoryDelBuildTest">
	<methods>
	<include name = 'delBuild'></include>
	<include name = 'delRoom'></include>
	<include name = 'entryRoom'></include>
	<include name = 'delStuTest'></include>
	</methods>
	</class>
	<class name="com.selenium.testCase.DormitoryAddBuildTest">
	<methods>
	<include name = 'testAddBuild'></include>
	<include name = 'testAddRoom'></include>
	<include name = 'entryRoom'></include>
	<include name = 'testAddStu'></include>
	</methods>
	</class>-->
	<class name="com.selenium.testCase.DormitoryUploadTest"></class>
  </classes>
</test>
</suite> <!-- Suite -->