<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="weixiaotong" parallel="none">
<test name="login" enabled = "false">
	<classes>
		<class name="com.selenium.testCase.LoginTest"></class>
	</classes>
</test>

<test name="card" enabled = "false">
  <classes>
	<class name="com.selenium.testCase.LoginTest"></class>
    <class name="com.selenium.testCase.CardStuTest">
  	<methods>
	 <include name="testAddCard"></include>
	 <include name="testDelCard"></include>
	 <include name="testExport"></include>
	 <include name="batchCardTest"></include>
	 <include name="delBatchCardTest"></include>
	</methods>
	</class>
	<class name="com.selenium.testCase.CardTeacherTest"></class>
	 <class name="com.selenium.testCase.TeacherAttendanceRecordTest"></class> 
	
  </classes>
  
</test>
<test name="AttendanceGroup" enabled = "false">
<classes>
	<class name="com.selenium.testCase.LoginTest"></class>
	<class name="com.selenium.testCase.AttendanceGClockTest"></class>
    <class name="com.selenium.testCase.AttendanceGAddBciTest"></class>
    <class name="com.selenium.testCase.AttendanceDownloadUpTest"></class>
</classes>

</test>


<test name="test03">
<classes>
	<class name="com.selenium.testCase.PaxyTest"></class>
</classes>
</test>
</suite> 