<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="none">
<test name="NewTest1" >
  <classes>
	<class name="com.selenium.testCase.LoginTest"></class>
	<class name="com.selenium.testCase.AttendanceGClockTest"></class>
    <class name="com.selenium.testCase.AttendanceGAddBciTest"></class>
    <class name="com.selenium.testCase.CardStuTest"></class>
  	<methods>
	 <include name="testAddCard"></include>
	 <include name="testDelCard"></include>
	 <include name="testExport"></include>
	 <include name="batchCardTest"></include>
	 <include name="delBatchCardTest"></include>
	</methods>
	<class name="com.selenium.testCase.CardTeacherTest"></class>
	<!-- <class name="com.selenium.testCase.TeacherAttendanceRecordTest"></class> -->
	<class name="com.selenium.testCase.AttendanceDownloadUpTest"></class>
  </classes>
  
</test>
</suite> 